# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
salaries = pd.read_csv('employees_advanced.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Unnamed: 0,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
(salaries.isna().sum()/salaries.isna().count())*100

Unnamed: 0            0.000000
Name                  0.000000
Job Titles            0.000000
Department            0.000000
Full or Part-Time     0.000000
Salary or Hourly      0.000000
Typical Hours        75.824971
Annual Salary        24.175029
Hourly Rate          75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
print(salaries['Salary or Hourly'].value_counts())
print(salaries['Salary or Hourly'].value_counts()[1]/salaries['Salary or Hourly'].count())

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64
0.24175029382515142

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.groupby('Department').count().head()

,Unnamed: 0,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,,
ADMIN HEARNG,39,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,8,0,8,0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [29]:
# Your code here:
hour_workers = salaries[salaries['Salary or Hourly'] != 'Salary']
hour_workers_mean = hour_workers.mean()['Hourly Rate']
stats.ttest_1samp(salaries[salaries['Salary or Hourly']!= 'Salary']['Hourly Rate'].reset_index(drop=True), popmean=30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [22]:
# Your code here:
police = salaries[salaries['Department'] == 'POLICE'] 
police = police[police['Salary or Hourly'] == 'Salary']

stats.ttest_1samp(police['Annual Salary'].reset_index(drop=True), popmean=86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [38]:
# Your code here:
cross = pd.crosstab(salaries['Department'], hour_workers['Salary or Hourly'])
cross.loc[cross['Hourly'].idxmax()]

Salary or Hourly
Hourly    1862
Name: STREETS & SAN, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [49]:
# Your code here:
low_s = salaries[salaries['Department'] == 'STREETS & SAN'] 
low_s = low_s[low_s['Salary or Hourly'] == 'Hourly']

stats.ttest_1samp(low_s['Hourly Rate'].reset_index(drop=True), popmean=35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [74]:
# Your code here:
hourly_wage = salaries[(salaries['Salary or Hourly']== 'Hourly')]
h_len = hourly_wage['Hourly Rate'].count()
h_mean =hourly_wage['Hourly Rate'].mean()
sd = stats.sem(hourly_wage['Hourly Rate'])
stats.t.interval(0.95, df=h_len-1, loc= h_mean, scale= sd)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [79]:
# Your code here:
p_len = police['Annual Salary'].count()
p_mean = police['Annual Salary'].mean()
sd = stats.sem(police['Annual Salary'])
stats.t.interval(0.95, df = p_len - 1, loc = p_mean, scale= sd)

#I know both values are wrong but I'm not getting how to do it

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: